body {
  background: #ebebeb; }

.ycd-header-search-box-top {
  background: rgba(85, 165, 51, 0.8); }
  .ycd-header-search-box-top .ycd-js-search-input-box {
    position: relative;
    margin: 0;
    display: flex; }
  .ycd-header-search-box-top .ycd-js-search-input-box {
    width: 100%; }
  .ycd-header-search-box-top h2 {
    width: 100%;
    height: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    color: #fff;
    font-size: 1.6rem; }
  .ycd-header-search-box-top .ycd-js-back-icon {
    position: absolute;
    top: 50%;
    margin-top: -1.35rem;
    left: 1.2rem;
    font-size: 2rem;
    color: #fff; }

.yc-cart-list {
  margin-top: 5rem; }
  .yc-cart-list .yc-cart-list-item {
    width: 100%;
    height: 9.75rem;
    position: relative;
    font-family: "Microsoft YaHei";
    border-bottom: 1px solid #d6d7dc;
    background: #fff; }
    .yc-cart-list .yc-cart-list-item a.img {
      position: absolute;
      width: 7.45rem;
      height: 7.45rem;
      left: 1.25rem;
      display: block; }
      .yc-cart-list .yc-cart-list-item a.img img {
        width: 100%; }
    .yc-cart-list .yc-cart-list-item .cart-price {
      position: absolute;
      width: 11.4rem;
      left: 9.8rem;
      top: 1.15rem; }
      .yc-cart-list .yc-cart-list-item .cart-price .name {
        position: absolute;
        top: 0;
        color: #2b2b2b;
        font-size: 1.2rem; }
      .yc-cart-list .yc-cart-list-item .cart-price .price {
        position: absolute;
        top: 1.7rem;
        color: #2b2b2b;
        font-size: 1.1rem; }
        .yc-cart-list .yc-cart-list-item .cart-price .price .price-p {
          color: #55a533; }
      .yc-cart-list .yc-cart-list-item .cart-price .more {
        position: absolute;
        top: 3.35rem;
        color: #6d6d6d;
        font-size: 1.2rem; }
    .yc-cart-list .yc-cart-list-item a.collect {
      display: block;
      font-size: 1.2rem;
      color: #adadad;
      position: absolute;
      right: 2.25rem;
      top: 1.25rem; }
      .yc-cart-list .yc-cart-list-item a.collect:active {
        color: #55a533; }
    .yc-cart-list .yc-cart-list-item .cart-operation {
      position: absolute;
      width: 5.5rem;
      height: 2rem;
      right: 1.25rem;
      top: 5.5rem;
      display: flex; }
      .yc-cart-list .yc-cart-list-item .cart-operation span {
        display: inline-block;
        height: 100%; }
      .yc-cart-list .yc-cart-list-item .cart-operation span.cut, .yc-cart-list .yc-cart-list-item .cart-operation span.increse {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #adadad;
        text-align: center;
        line-height: 2rem;
        color: #adadad;
        font-size: 1rem; }
        .yc-cart-list .yc-cart-list-item .cart-operation span.cut:active, .yc-cart-list .yc-cart-list-item .cart-operation span.increse:active {
          background: #55a533;
          color: #fff; }
      .yc-cart-list .yc-cart-list-item .cart-operation span.amount {
        font-size: 1rem;
        color: #55a533;
        line-height: 2rem;
        padding: 0 0.6rem; }

.ycd-ui-forget-list-item {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  display: flex;
  border-bottom: 1px solid #d6d7dc;
  background: #fff;
  font-family: sans-serif; }
  .ycd-ui-forget-list-item p.ycd-ui-forget-mark {
    flex: 1;
    font-size: 1.6rem;
    color: #2b2b2b;
    font-weight: 400;
    text-indent: 1.2rem; }
  .ycd-ui-forget-list-item a.ycd-ui-forget-item-add {
    display: block;
    width: 6rem;
    margin-right: 1.2rem;
    font-size: 1.2rem;
    color: #9e9e9e; }

.ycd-bottom-cart-operation {
  position: absolute;
  bottom: 5.5rem;
  left: 0;
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  color: #f25c59;
  display: flex;
  font-family: sans-serif; }
  .ycd-bottom-cart-operation .ycd-total {
    flex: 1;
    font-size: 1.2rem;
    text-indent: 1.2rem; }
    .ycd-bottom-cart-operation .ycd-total .total {
      padding-left: 0.6rem; }
    .ycd-bottom-cart-operation .ycd-total .int {
      padding-left: 0.6rem; }
    .ycd-bottom-cart-operation .ycd-total .promotion {
      padding-left: 0.6rem; }
  .ycd-bottom-cart-operation .ycd-operation {
    width: 8rem;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    background: #f25c59; }
    .ycd-bottom-cart-operation .ycd-operation:hover {
      background: #ee7a77; }

.ycd-bottom-fixed-cart {
  width: 100%;
  height: 11rem; }

div.top-lines {
  width: 100%;
  height: 0.6rem;
  background: url(../images/lines_bg.jpg) repeat-x left top;
  background-size: 100%;
  margin-top: 4.5rem; }

.ycd-ui-list-item, .ycd-ui-list-item-bd {
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  background: #fff;
  color: #000; }
  .ycd-ui-list-item a, .ycd-ui-list-item-bd a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 4.5rem;
    display: flex;
    color: #2b2b2b;
    font-size: 1.2rem; }
    .ycd-ui-list-item a span.ycd-ui-list-add-icon, .ycd-ui-list-item-bd a span.ycd-ui-list-add-icon {
      display: inline-block;
      width: 1.05rem;
      height: 1.05rem;
      background: url(../images/add_icon.png) no-repeat left top;
      background-size: 100%;
      margin: 1.75rem 1.2rem 0 1.2rem; }
    .ycd-ui-list-item a dt, .ycd-ui-list-item-bd a dt {
      display: inline-block;
      color: #2b2b2b;
      font-size: 1.6rem;
      margin-left: 1.2rem; }
    .ycd-ui-list-item a dd, .ycd-ui-list-item-bd a dd {
      flex: 1;
      text-align: right;
      padding-right: 1.2rem;
      display: inline-block;
      font-size: 1.6rem;
      color: #adadad; }

.ycd-ui-list-item-bd {
  border-bottom: 1px solid #d6d7dc; }

.bd-tp1 {
  border-bottom: 1px solid #d6d7dc; }

.col-green {
  color: #55a533; }

.col-gray {
  color: #6e6e6e; }

.col-red {
  color: #eb2d29; }

.rotate-y {
  transform: rotate(9deg); }

.ycd-product-list .ycd-product-title {
  width: 100%;
  height: 2.35rem;
  line-height: 2.35rem;
  font-size: 1.2rem;
  background: #fff;
  text-indent: 1.2rem;
  color: #2b2b2b; }
.ycd-product-list .ycd-ui-list-item-bd {
  display: flex;
  height: auto; }
  .ycd-product-list .ycd-ui-list-item-bd a {
    height: 2.7rem;
    line-height: 2.7rem;
    padding: 1.6rem 1.2rem 1.6rem 2.05rem; }
  .ycd-product-list .ycd-ui-list-item-bd img {
    display: inline-block;
    width: 1.5rem;
    height: 2.7rem; }
  .ycd-product-list .ycd-ui-list-item-bd dt {
    display: inline-block; }
  .ycd-product-list .ycd-ui-list-item-bd dt.title {
    margin-left: 2.15rem;
    flex: 1; }
  .ycd-product-list .ycd-ui-list-item-bd dt.price {
    margin-left: 6rem; }

.ycd-product-total-price {
  background: #fff;
  color: #2b2b2b;
  font-size: 1.6rem; }
  .ycd-product-total-price p {
    text-align: right;
    padding: 0.5rem 0; }

.regular-checkbox {
  display: none; }

.regular-checkbox + label {
  background-color: #fafafa;
  border: 0.05rem solid #cacece;
  box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.05), inset 0px -pxTorem(15px) 0.5rem -pxTorem(12px) rgba(0, 0, 0, 0.05);
  padding: 0.45rem;
  border-radius: 0.15rem;
  display: inline-block;
  position: relative; }

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.05), inset 0px 0.05rem 0.15rem rgba(0, 0, 0, 0.1); }

.regular-checkbox:checked + label {
  background-color: #e9ecee;
  border: 0.05rem solid #adb8c0;
  box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.05), inset 0px -pxTorem(15px) 0.5rem -pxTorem(12px) rgba(0, 0, 0, 0.05), inset 0.75rem 0.5rem -pxTorem(12px) rgba(255, 255, 255, 0.1);
  color: #99a1a7; }

.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 0.7rem;
  position: absolute;
  top: 0px;
  left: 0.15rem;
  color: #99a1a7; }

.big-checkbox + label {
  padding: 0.9rem; }

.big-checkbox:checked + label:after {
  font-size: 1.4rem;
  left: 0.3rem; }

.tag {
  font-family: Arial, sans-serif;
  width: 10rem;
  position: relative;
  top: 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: left; }

.radio-1 {
  width: 9.65rem; }

.button-holder {
  float: left; }

/* RADIO */
.regular-radio {
  display: none; }

.regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 0.05rem solid #cacece;
  box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.05), inset 0px -pxTorem(15px) 0.5rem -pxTorem(12px) rgba(0, 0, 0, 0.05);
  padding: 0.45rem;
  border-radius: 2.5rem;
  display: inline-block;
  position: relative;
  margin-right: 0.75rem; }

.regular-radio:checked + label:after {
  content: ' ';
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 2.5rem;
  position: absolute;
  top: 0.15rem;
  background: #55a533;
  box-shadow: inset 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
  text-shadow: 0px;
  left: 0.15rem;
  font-size: 1.6rem; }

.regular-radio:checked + label {
  background-color: #e9ecee;
  color: #55a533;
  border: 0.05rem solid #adb8c0;
  box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.05), inset 0px -pxTorem(15px) 0.5rem -pxTorem(12px) rgba(0, 0, 0, 0.05), inset 0.75rem 0.5rem -pxTorem(12px) rgba(255, 255, 255, 0.1), inset 0px 0px 0.5rem rgba(0, 0, 0, 0.1); }

.regular-radio + label:active, .regular-radio:checked + label:active {
  box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.05), inset 0px 0.05rem 0.15rem rgba(0, 0, 0, 0.1); }

.big-radio + label {
  padding: 0.8rem; }

.big-radio:checked + label:after {
  width: 1.2rem;
  height: 1.2rem;
  left: 0.2rem;
  top: 0.2rem; }

/*# sourceMappingURL=cart.css.map */
