.ycd-header-search-box-top {
  background: rgba(85, 165, 51, 0.8); }
  .ycd-header-search-box-top .ycd-js-search-input-box {
    margin: 0;
    display: flex; }
  .ycd-header-search-box-top .ycd-js-search-input {
    width: 29.1rem; }
  .ycd-header-search-box-top .ycd-js-service-icon {
    font-size: 2.5rem;
    color: #fff;
    padding: 0 1.65rem; }

.ycd-js-container {
  padding-top: 3.9rem; }

.swiper-catogry-tab-title-list {
  height: 6.65rem;
  width: 100%; }

.swiper-catogry-tab-title-list .swiper-slide {
  height: 4.75rem;
  text-align: center;
  line-height: 4.75rem;
  font-size: 1.6rem;
  color: #2b2b2b; }

.swiper-catogry-tab-title-list .active-nav {
  border-bottom: 0.15rem solid #55a533; }

.yc-swiper-categry-left-tab {
  width: 7.75rem; }

.yc-swiper-categry-left-tab .ycd-left-tab-slide {
  height: 4.4rem;
  text-align: center;
  line-height: 4.4rem;
  font-size: 1.2rem;
  color: #2b2b2b;
  background: #e0e0e0;
  border-bottom: 0.05rem solid #868686; }

.yc-swiper-categry-left-tab .active-nav {
  border-bottom: none;
  background: #fff; }

.yc-swiper-right-list-content {
  flex: 1; }
  .yc-swiper-right-list-content .yc-swiper-right-list-item {
    width: 100%;
    height: 9.75rem;
    position: relative;
    font-family: "Microsoft YaHei";
    border-bottom: 1px solid #d6d7dc; }
    .yc-swiper-right-list-content .yc-swiper-right-list-item a.img {
      position: absolute;
      width: 7.45rem;
      height: 7.45rem;
      left: 1.25rem;
      display: block; }
      .yc-swiper-right-list-content .yc-swiper-right-list-item a.img img {
        width: 100%; }
    .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-price {
      position: absolute;
      width: 11.4rem;
      left: 9.8rem;
      top: 1.15rem; }
      .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-price .name {
        position: absolute;
        top: 0;
        color: #2b2b2b;
        font-size: 1.2rem; }
      .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-price .price {
        position: absolute;
        top: 1.7rem;
        color: #2b2b2b;
        font-size: 1.1rem; }
        .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-price .price .price-p {
          color: #55a533; }
      .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-price .more {
        position: absolute;
        top: 3.35rem;
        color: #6d6d6d;
        font-size: 1.2rem; }
    .yc-swiper-right-list-content .yc-swiper-right-list-item a.collect {
      display: block;
      font-size: 1.2rem;
      color: #adadad;
      position: absolute;
      right: 2.25rem;
      top: 1.25rem; }
      .yc-swiper-right-list-content .yc-swiper-right-list-item a.collect:active {
        color: #55a533; }
    .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-operation {
      position: absolute;
      width: 5.5rem;
      height: 2rem;
      right: 1.25rem;
      top: 5.5rem;
      display: flex; }
      .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-operation span {
        display: inline-block;
        height: 100%; }
      .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-operation span.cut, .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-operation span.increse {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #adadad;
        text-align: center;
        line-height: 2rem;
        color: #adadad;
        font-size: 1rem; }
        .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-operation span.cut:active, .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-operation span.increse:active {
          background: #55a533;
          color: #fff; }
      .yc-swiper-right-list-content .yc-swiper-right-list-item .cart-operation input.amount {
        font-size: 1rem;
        color: #55a533;
        line-height: 2rem;
        padding: 0 0.6rem;
        text-align: center;
        border: none; }

#swiper-container3 .swiper-slide {
  display: flex; }

.ycd-bottom-cart-info {
  display: flex;
  position: fixed;
  bottom: 5.5rem;
  left: 0;
  width: 100%;
  height: 4.5rem;
  line-height: 4.5rem;
  color: #eb2d29;
  font-size: 1.2rem;
  z-index: 99;
  background: #fff;
  border-top: 1px solid #dedede; }
  .ycd-bottom-cart-info .cart-info-total {
    flex: 1;
    height: 100%;
    text-indent: 1.2rem; }
    .ycd-bottom-cart-info .cart-info-total a {
      color: #eb2d29;
      display: inline-block; }
  .ycd-bottom-cart-info .cart-info-checkout {
    width: 8rem;
    height: 4.5rem;
    background: #eb2d29;
    color: #fff;
    text-align: center; }

/*# sourceMappingURL=category.css.map */
