/*
Error: Invalid CSS after "  src: ": expected "{", was "url('http://at...."
        on line 28 of E:\webfronteffect\ycaidao2\sass\ycaidao.scss

23: 	padding-bottom: pxTorem(110px);
24: }
25: @font-face {
26:   font-family: 'iconfont';
27: <<<<<<< HEAD
28:   src: url('http://at.alicdn.com/t/font_1458198316_830402.eot'); /* IE9*\/
29:   src: url('http://at.alicdn.com/t/font_1458198316_830402.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 *\/
30:   url('http://at.alicdn.com/t/font_1458198316_830402.woff') format('woff'), /* chrome銆乫irefox *\/
31:   url('http://at.alicdn.com/t/font_1458198316_830402.ttf') format('truetype'), /* chrome銆乫irefox銆乷pera銆丼afari, Android, iOS 4.2+*\/
32:   url('http://at.alicdn.com/t/font_1458198316_830402.svg#iconfont') format('svg'); /* iOS 4.1- *\/
33: }

Backtrace:
E:\webfronteffect\ycaidao2\sass\ycaidao.scss:28
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:210:in `directive_body'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:202:in `directive'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/koala_2.0.4_portable/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/koala_2.0.4_portable/Koala/bin/sass:18:in `load'
D:/koala_2.0.4_portable/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  src: \": expected \"{\", was \"url('http://at....\"\A         on line 28 of E:\webfronteffect\ycaidao2\sass\ycaidao.scss\A \A 23: 	padding-bottom: pxTorem(110px);\A 24: }\A 25: @font-face {\A 26:   font-family: 'iconfont';\A 27: <<<<<<< HEAD\A 28:   src: url('http://at.alicdn.com/t/font_1458198316_830402.eot'); /* IE9*/\A 29:   src: url('http://at.alicdn.com/t/font_1458198316_830402.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */\A 30:   url('http://at.alicdn.com/t/font_1458198316_830402.woff') format('woff'), /* chrome銆乫irefox */\A 31:   url('http://at.alicdn.com/t/font_1458198316_830402.ttf') format('truetype'), /* chrome銆乫irefox銆乷pera銆丼afari, Android, iOS 4.2+*/\A 32:   url('http://at.alicdn.com/t/font_1458198316_830402.svg#iconfont') format('svg'); /* iOS 4.1- */\A 33: }"; }
