$browser-default-font-size:20px !default;
$default-font-color:#999;
$header-top-offset:pxTorem(20px);
$calc-width:'-webkit-calc(100% - 1rem)';
@function pxTorem($px) {
	@return $px / $browser-default-font-size *1rem;
}
html{
	font-size:$browser-default-font-size;
	color:$default-font-color;
	height:100%;
	width:100%;
}
body{
	width:100%;
	height:100%;
	background: #fff;
	overflow-y:scroll;
	min-height: 101%;
}
.ycd-bottom-fixed{
	width:100%;
	padding-bottom: pxTorem(110px);
}
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1458198316_830402.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1458198316_830402.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1458198316_830402.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1458198316_830402.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1458198316_830402.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                     

[class ^= ycd-font-icon]{
	display:inline-block;
	font-family: 'iconfont';
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	font-variant: normal;
	line-height: 1;
	font-size:pxTorem(20px);
	//让字体变清晰
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.ycd-bottom{
	font-size:pxTorem(14px);
	height:pxTorem(110px);
	width:100%;
	position: fixed;
	bottom:0px;
	left:0px;
	background: #ffffff;
	display: flex;
  z-index: 99;
  border-top:1px solid #d6d7dc;
}
.ycd-bottom .ycd-foot-tab{
	display:inline-block;
	flex:1;
	height:100%;
	text-align: center;
	overflow: hidden;
} 
.ycd-bottom .ycd-foot-tab a.ycd-foot-tab-a{
  display:inline-block;
  width:100%;
  height:100%;
  color:$default-font-color;
}
.ycd-bottom .ycd-foot-tab a.ycd-foot-tab-a-cur{
	color:#f34a47;
}
.ycd-bottom .ycd-foot-tab .ycd-foot-icon{
   margin-top:pxTorem(15px);
   font-size:pxTorem(46px);
}
.ycd-bottom .ycd-foot-tab .ycd-foot-tab-name{
	margin-top:pxTorem(6px);
	font-size: pxTorem(22px);
}

.ycd-header-search-box-top{
	width:100%;
	height:pxTorem(54px);
	position:fixed;
	left:0;
  top:0;
	padding:pxTorem(12px) 0;
  z-index: 99;
  .ycd-js-search-input-box{  
       width:pxTorem(640px);
       height:pxTorem(54px);
       margin:0 auto;
   }
   .ycd-js-search-input{
    border-radius: pxTorem(18px);
    width:100%;
    height:100%;
    border:none;
    background: rgba(255,255,255,0.88);
    border-radius:pxTorem(21px);
    color:#b0adad;
    font-size:pxTorem(24px);
    text-align:center;
   }
   .ycd-js-search-icon{
     position:absolute;
     font-size:pxTorem(24px);
     top:50%;
     left:pxTorem(277px);
  }

}
.swiper-container {
    width: 100%;
    height:auto;
} 
.ycd-gradient-top-bg{
	background: linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,0));
}
.ycd-header-search-box{
	position:absolute;
}
.ycd-header-search-result{
	position: absolute;
}
.ycd-index-categry-list{
	width:calc(100% - 4.7rem);
	padding:pxTorem(36px) pxTorem(47px);
	height:pxTorem(107px);
	display:flex;
	justify-content:center;
  .ycd-index-categry-item{
      width:pxTorem(100px);
      height:pxTorem(107px);
      margin-right:pxTorem(85px);
      text-align: center;
  }
  .ycd-index-categry-item:last-child{
  margin-right:pxTorem(0px);
  }
   .ycd-index-categry-item img{
    display:inline-block;
    width:pxTorem(74px);
  }
  .ycd-index-categry-icon{
       display:inline-block;
       width:pxTorem(74px);
       height:pxTorem(74px);
       border-radius:50%;
       
       text-align: center;
       line-height: pxTorem(74px);
       font-size:pxTorem(48px);
       color:#fff;
  }
  .ycd-icon-cart{
       background: #f7514e;
  }
  .ycd-icon-buy{
       background: #f58d49;
  }
  .ycd-icon-promotion{
       background: #f44f7e;
  }
  .ycd-icon-list{
       background: #40a6db;
  }
  .ycd-index-categry-name{
        width:100%;
        text-align: center;
        color:#454545;
        font-family: "Microsoft YaHei";
        font-size:pxTorem(24px);
        display:inline-block;
        padding-top:pxTorem(12px);
  }
}

.ycd-floor{
	width:100%;
}
.ycd-floor img{
	width:100%;
}
.ycd-floor .ycd-floor-1{
      height:pxTorem(188px);
}
.ycd-floor .ycd-floor-name{
	height:pxTorem(55px);
}
.ycd-floor-name h2{
    height:pxTorem(74px);
    line-height:pxTorem(74px);
    color:#454545;
    font-size:pxTorem(28px);
    display:inline-block;
    font-family:STHeiti;
    font-weight: bold;
    position: relative;
}
.ycd-floor-name h2:before{
    content:'';
    display:block;
    position: absolute;
    right:pxTorem(136px);
    top:50%;
    border-bottom:2px solid #454545;
    height:0;
    width:pxTorem(84px);
}
.ycd-floor-name h2:after{
    content:'';
    display:block;
    position: absolute;
    left:pxTorem(136px);
    top:50%;
    border-bottom:2px solid #454545;
    height:0;
    width:pxTorem(84px);
}
.ycd-floor-name .ycd-more{
    font-size:pxTorem(16px);
    color:#9c9c9c;
    text-align:center;
    display:inline-block;
    margin-right:pxTorem(20px);
    height:100%;
    float:right;
    margin-top:pxTorem(24px);
}
 @keyframes goods-item-effect {
   0% {
     
   }
   100% {
     
   }
 }
 
.ycd-floor-goods-area{
	width:100%;
	height:auto;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	.ycd-floor-goods-area-item-fix-justify{
		width:100%;
		height:0;
		font-size:0;
		overflow:hidden;
		line-height:0;
		display:inline-block;
	}
	.ycd-floor-goods-area-item{
              &:hover{
                 
              }
              position: relative;
    		      width:pxTorem(247px);
    		      height:pxTorem(258px);
    		      border:1px solid #d6d7dc;
    		      font-family: "Microsoft YaHei";
              text-align: center;
              i{
              	display:inline-block;
              	width:pxTorem(63px);
              	height:pxTorem(65px);
              	position: absolute;
              	left:pxTorem(9px);
              	top:pxTorem(9px);
              	text-align: center;
              	line-height: pxTorem(65px);
              	font-size:pxTorem(20px);
              	font-style:normal;
              }

              i.green{
                     background: url(../images/icon_count_down_gr.png) no-repeat left top;
                     background-size:100% 100%;
                     color:#7bff96;
              }
              i.orange{
                     background: url(../images/icon_count_down_or.png) no-repeat left top;
                     background-size:100% 100%;
                     color:#f95c2d;
              }
              h2{
                position: absolute;
                left:pxTorem(54px);
                top:pxTorem(171px);
                font-size: pxTorem(20px);
                color:#767676;
              }
              p.info{
              	     position: absolute;
              	     left:pxTorem(54px);
              	     top:pxTorem(204px);
                     color:#f56c3e;
                     font-size:pxTorem(22px);
                     font-size: normal;
                     span.price{

                     }
                     span.weight{
                       
                     }
              }
              .goods-img{
              	img {
                  width:pxTorem(159px);
                  height:pxTorem(162px);
              		border:none;
                  position: relative;
                  top:pxTorem(12px);
              	}
              }

	}

}
@media screen and (max-width:360px){
	.ycd-floor-goods-area{
		.ycd-floor-goods-area-item{
			width:100%;
		}
	}
}
.ycd-top-bg-animation{
  background:rgba(85, 165, 51, 0.8);
  animation:bgChange 1000ms linear;
}
@keyframes bgChange {
  0% {
      background:rgba(0, 0, 0, 0.2);
  }
  100% {
      background:rgba(85, 165, 51, 0.8);
  }
}
//头部顶部固定导航效果
.ycd-btn{
    display: inline-block;
    border-radius: pxTorem(5px);
    border:1px solid #fff;
    padding:pxTorem(5px);
    color:#fff;
    height:pxTorem(20px);
    line-height: pxTorem(20px);
    transition:background .2s linear;
    min-width: pxTorem(40px);
    font-size:pxTorem(12px);
    &:hover{
      background: rgba(255,255,255,0.3);
    }
}
.ycd-btn-search-btn{
    padding:pxTorem(5px) pxTorem(36px);
    margin-left:pxTorem(5px);
}
.ycd-btn-clear-history{
    background: #e4e4e4;
    padding:pxTorem(5px)  pxTorem(10px);
    color:#8a8a8a;
    border:none;
}
.ycd-header-search-box{
  height:pxTorem(35px);
  padding:pxTorem(6px) pxTorem(8px);
  width:calc(100% - 0.8rem);
  background: #21b387;
  display: flex;
  top:0;
  input[type=text].ycd-header-search-box-input{
    border-radius: pxTorem(5px);
    width:pxTorem(299px);
    height:pxTorem(16px);
    line-height:pxTorem(16px);
    padding:pxTorem(7px) pxTorem(7px);
    font-size:pxTorem(12px);
    position: relative;
    background: #fff;
    color:#c4c4c4;
    border:1px solid #90d9c3;
    display:inline-block;
    box-sizing:content-box;

 }
  .ycd-header-search-return{
    display:inline-block;
    width:pxTorem(85px);
    height:pxTorem(35px);
    line-height: pxTorem(35px);
    color:#fff;
    font-size:pxTorem(12px);
  }
}
  .ycd-header-search-container{
    width:calc(100% - 2.1rem);
    padding:0 pxTorem(21px);
    min-height: pxTorem(35px);
    position: absolute;
    top:pxTorem(47px);
    background: #fff;
    height:100%;
    h2{
      width:100%;
      height:pxTorem(22px);
      line-height: pxTorem(22px);
      margin-top:pxTorem(10px);
      border-bottom:2px solid #efefef;
      padding-bottom:pxTorem(5px);
      font-size: pxTorem(14px);
    }
    .ycd-header-search-tags{
       padding:pxTorem(5px) 0;
    }
    .ycd-header-search-tags a{
        display: inline-block;
        border-radius: pxTorem(5px);
        border:1px solid #b6b6b6;
        padding:pxTorem(5px) pxTorem(15px);
        color:#b6b6b6;
        height:pxTorem(20px);
        line-height: pxTorem(20px);
        font-size:pxTorem(12px);
        transition:background .2s linear;
        margin-left:pxTorem(5px);
        &:hover{
          background: rgba(0,0,0,0.3);
          color:#fff;
        }
    }
   .ycd-header-search-content{
        width:100%;
        text-align: center;
    }

  }
.ycd-header-search-result{
  width:100%;
  height:auto;
}

.ycd-my-top-bar{
   width:100%;
   height:pxTorem(210px);
   background:#55a533;
   position: relative;
   .ycd-my-settings{
    display: inline-block;
    width:pxTorem(70px);
    height:pxTorem(30px);
    line-height: pxTorem(30px);
    color:#fff;
    font-size: pxTorem(16px);
    background: rgba(28,27,26,0.4);
    position: absolute;
    right:pxTorem(13px);
    top:pxTorem(16px);
    text-align: center;
    border-radius: pxTorem(10px);
    font-family: "Microsoft YaHei";
   }
   .ycd-my-avatar{
      padding-top:pxTorem(55px);
      height:pxTorem(100px);
      line-height: pxTorem(100px);
      display:flex;
         a.ycd-my-img{
             display: inline-block;
             margin-left:pxTorem(25px);
             img{
              width:pxTorem(100px);
              height:pxTorem(100px);
              border-radius: 50%;
             }
         }
         span{
             display:inline-block;
             padding:0 pxTorem(2px);
             font-size:pxTorem(20px);
             font-weight: 400;
             
         }
         span.ycd-my-username{
             color:#2b2b2b;
             margin-left:pxTorem(20px);
         }
         span.ycd-my-id{
             color:#2b2b2b;
             font-weight: 700;
         }
   }

}

.ycd-my-categry-list{
  width:calc(100% - 4.7rem);
  padding:pxTorem(36px) pxTorem(47px);
  height:pxTorem(107px);
  display:flex;
  justify-content:center;
  background: #f5f5f5;
  .ycd-my-categry-item{
      width:pxTorem(100px);
      height:pxTorem(107px);
      margin-right:pxTorem(85px);
      text-align: center;
      display: inline-block;
  }
  .ycd-my-categry-item:last-child{
  margin-right:pxTorem(0px);
  }
   .ycd-my-categry-item img{
    display:inline-block;
    width:pxTorem(74px);
  }
  .ycd-my-categry-icon{
       display:inline-block;
       width:pxTorem(74px);
       height:pxTorem(74px);
       text-align: center;
       line-height: pxTorem(74px);
       font-size:pxTorem(60px);
  }
  .ycd-icon-dingdan{
       color: #eca344;
       font-size:pxTorem(75px);
  }
  .ycd-icon-hongbao{
       color: #e35050;
  }
  .ycd-icon-dizhi{
       color: #4f86e1;
  }
  .ycd-icon-mybounus{
       color: #40a6db;
       font-size:pxTorem(75px);
  }
  .ycd-icon-message{
       color: #f7514e;
  }
  .ycd-icon-loginout{
       color: #f58d49;
  }
  .ycd-icon-pingjia{
       color: #f44f7e;
       font-size:pxTorem(75px);
  }
  .ycd-my-categry-name{
        width:100%;
        text-align: center;
        color:#454545;
        font-family: "Microsoft YaHei";
        font-size:pxTorem(24px);
        display:inline-block;
        padding-top:pxTorem(12px);
  }
}

.ycd-my-user-op-list{
  width:100%;
  margin-top:pxTorem(12px);
  background: #f5f5f5;
  dl{
      padding-left:pxTorem(25px);
      border-bottom: pxTorem(1px) solid #969696;
      &:active{
          background: #55a533;
          color:#fff;     
          span.ycd-my-op-icon{
           color:#fff;
         }
          dt{
             color:#fff;
          }
          dd{
            color:#fff;
          }

      }
     a{
        width:100%;
        display: inline-block;
        color:#98a5aa;
        display:flex;
        height:pxTorem(86px);
        line-height: pxTorem(86px);


        dt{
           display: inline-block;
           color:#000017;
           font-size:pxTorem(32px);
           margin-left:pxTorem(24px);
        }
        dd{
           flex:1;
           text-align: right;
           padding-right: pxTorem(24px);
           display: inline-block;
           font-size:pxTorem(32px);
        }
        span.ycd-my-op-icon{
          display: inline-block;
          font-size:pxTorem(30px);
          line-height: pxTorem(86px);
        }
     }
  }
  dl:last-child{
    border:none;
  }
}