$browser-default-font-size:20px !default;
$default-font-color:#999;
$header-top-offset:pxTorem(20px);
$calc-width:'-webkit-calc(100% - 1rem)';
html{
	font-size:$browser-default-font-size;
	color:$default-font-color;
	height:100%;
	width:100%;
}
body{
	width:100%;
	height:100%;
	background: #fff;
}
@function pxTorem($px) {
	
	@return $px / $browser-default-font-size *1rem;
}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1456476471_9418604.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1456476471_9418604.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1456476471_9418604.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1456476471_9418604.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1456476471_9418604.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
[class ^= ycd-font-icon]{
	display:inline-block;
	font-family: 'iconfont';
	font-style: normal;
	font-weight: 400;
	text-transform: none;
	font-variant: normal;
	line-height: 1;
	font-size:pxTorem(20px);
	//让字体变清晰
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.ycd-bottom{
	font-size:pxTorem(14px);
	height:pxTorem(50px);
	width:100%;
	position: fixed;
	bottom:0px;
	left:0px;
	background: #eae9e9;
	display: flex;
}
.ycd-bottom .ycd-foot-tab{
	display:inline-block;
	flex:1;
	height:100%;
	text-align: center;
	overflow: hidden;
} 
.ycd-bottom .ycd-foot-tab a.ycd-foot-tab-a{
  display:inline-block;
  width:100%;
  height:100%;
  color:$default-font-color;
}
.ycd-bottom .ycd-foot-tab a.ycd-foot-tab-a-cur{
	color:#1db489;
}
.ycd-bottom .ycd-foot-tab .ycd-foot-icon{
   margin-top:pxTorem(7px);
}
.ycd-bottom .ycd-foot-tab .ycd-foot-tab-name{
	margin-top:pxTorem(6px);
	font-size: pxTorem(11px);
}

.ycd-header-search-box-top{
	 width:calc(100% - 1rem);
	padding:pxTorem(10px);
	height:pxTorem(30px);
	position:absolute;
	left:0;
	top:0;
	display:flex;
	z-index: 99;
}
.ycd-header-search-box-top .ycd-location-txt{
	display: inline-block;
	width:pxTorem(48px);
	height:pxTorem(30px);
	line-height: pxTorem(20px);
	text-align: center;
	font-size:pxTorem(14px);
	color:#fff;
	font-weight: 400;
}
.ycd-header-search-box-top .ycd-js-search-input-box{
	display: inline-block;
	height:100%;
	position: relative;
	flex:1;
}
.ycd-js-search-input{
    border-radius: pxTorem(18px);
    width:100%;
    line-height:pxTorem(18px);
    padding:pxTorem(3px) pxTorem(10px);
    font-size:pxTorem(12px);
    position: relative;
}
.ycd-js-search-icon{
   position:absolute;
   font-size:pxTorem(14px);
   top:pxTorem(4px);
   right:pxTorem(11px);

}
.ycd-gradient-top-bg{
	background: linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,0));
}
.ycd-header-search-box{
	position:absolute;
}
.ycd-header-search-result{
	position: absolute;
}
.ycd-index-categry-list{
	width:calc(100% -1.75rem);
	padding:pxTorem(32px) pxTorem(35px);
	height:pxTorem(142px);
	display:flex;
	justify-content:center;
}
.ycd-index-categry-list .ycd-index-categry-item{
      width:pxTorem(112px);
      height:pxTorem(112px);
      margin-right:pxTorem(42px);
}
.ycd-index-categry-list .ycd-index-categry-item:last-child{
	margin-right:pxTorem(0px);
}
.ycd-index-categry-list .ycd-index-categry-item img{
	display:inline-block;
	width:100%;
}
.ycd-index-categry-list .ycd-index-categry-name{
      width:100%;
      text-align: center;
      color:#000;
      font-family: "Microsoft YaHei";
      font-size:pxTorem(18px);
      display:inline-block;
      padding-top:pxTorem(12px);
}
.ycd-floor{
	width:100%;
}
.ycd-floor img{
	width:100%;
}
.ycd-floor .ycd-floor-1{
      height:pxTorem(188px);
}
.ycd-floor .ycd-floor-name{
	height:pxTorem(55px);
}
.ycd-floor-name h2{
    width:pxTorem(88px);
    height:pxTorem(55px);
    line-height:pxTorem(55px);
    color:#000;
    font-size:pxTorem(20px);
    margin-left:pxTorem(15px);
    display:inline-block;
}
.ycd-floor-name .ycd-more{
    font-size:pxTorem(16px);
    color:#9c9c9c;
    text-align:center;
    display:inline-block;
    margin-right:pxTorem(20px);
    height:100%;
    float:right;
    margin-top:pxTorem(24px);
}
.ycd-floor-goods-area{
	padding:pxTorem(18px);
	width:calc(100% - 1.8rem);
	height:auto;
	display: flex;
}
.ycd-floor-goods-area img{
	width:100%;
}