html {
  overflow-x: hidden;
  overflow-y: scroll; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 150%; }

*, *::before, *::after {
  box-sizing: border-box; }

.bd {
  font-weight: bold; }

.tc {
  text-align: center; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.hidden {
  display: none; }

.nospace {
  margin: 0;
  padding: 0;
  list-style: none; }

.db {
  display: block; }

.inline * {
  display: inline-block; }

.inline *:last-child {
  margin-right: 0; }

.pushright li {
  margin-right: 20px; }

.pushright li:last-child {
  margin-right: 0; }

.border-1 {
  border: 1px solid #000; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.fixed {
  position: fixed; }

.zIndex1 {
  z-index: 1; }

.zIndex2 {
  z-index: 2; }

.zIndex3 {
  z-index: 3; }

.zIndex99 {
  z-index: 1; }

.zIndex999 {
  z-index: 999; }

.overlay {
  position: fixed;
  z-index: 99; }

.overlay::after {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  content: ""; }

.overlay-nofixed {
  position: relative;
  color: #fff;
  background: inherit; }

.overlay-nofixed::after {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  z-index: 1; }

.bgresponsive {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top; }

.circle {
  border-radius: 50%;
  background-clip: padding-box; }

.btn {
  display: inline-block;
  padding: 15px 35px 12px;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 0 15px; }

.btn .medium {
  padding: 10px 20px 12px; }

.btn .small {
  padding: 8px 18px 10px;
  text-transform: none; }

.btn:hover, .btn.inverse {
  color: inherit;
  background: rgba(0, 0, 0, 0.2);
  border-color: inherit;
  color: #fff; }

.cl, .group {
  display: block; }

.cl:before, .cl:after, .group::before, .group::after {
  display: table;
  content: ''; }

.cl, .cl:after, .group, .group::after {
  clear: both; }

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: all linear .3s;
          transition: all linear .3s; }

.l, .imgr {
  float: left; }

.r, .imgr {
  float: right; }

img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle; }

.imgl {
  margin: 0 15px 10px 0;
  clear: left; }

.imgr {
  margin: 0 0 10px 15px;
  clear: right; }

body, input, textarea, select {
  font-family: "microsoft yahei"; }

h1, h2, h3, h4, h5, h6, .heading {
  font-family: "microsoft yahei"; }

form, fieldset, legend {
  margin: 0;
  padding: 0;
  border: none; }

legend {
  display: none; }

label, input, textarea, select, button {
  display: block;
  resize: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle; }

label {
  margin-bottom: 5px; }

:required, :invalid {
  outline: none;
  box-shadow: none; }

h1, h2, h3, h4, h5, h6, .heading {
  margin: 0 0 20px 0;
  font-size: 22px;
  line-height: normal;
  font-weight: normal; }

address {
  font-style: normal;
  font-weight: normal; }

hr {
  display: block;
  width: 100%;
  height: 1px;
  border: solid;
  border-width: 1px 0 0 0; }

.ft-xs {
  font-size: .8rem; }

.ft-x1 {
  font-size: 1.2rem; }

.ft-x2 {
  font-size: 1.8rem; }

.ft-x3 {
  font-size: 2.8rem; }

.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word; }

.hc {
  display: block;
  margin: 0 auto; }

address, article, aside, figcaption, figure, footer, header, main, nav, section {
  display: block;
  margin: 0;
  padding: 0; }

.col-1-4 {
  width: 23.5%; }

.col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-2-4, .col-3-4 {
  display: inline-block;
  float: left;
  margin: 0 0 0 3.06748466257669%;
  list-style: none; }

.first {
  margin-left: 0;
  clear: left; }

.col-1-4 {
  width: 22.69938650306748%; }

.col-1-3 {
  width: 31.28834355828221%; }

.col-1-2, .col-2-4 {
  width: 48.46625766871166%; }

.col-2-3 {
  width: 65.6441717791411%; }

.col-3-4 {
  width: 74.23312883435584%; }

.mbt-50 {
  margin-bottom: 50px; }

.mbt-30 {
  margin-bottom: 30px; }

.mbt-15 {
  margin-bottom: 15px; }

.mgt315 {
  margin-bottom: 315px; }

/*# sourceMappingURL=common.css.map */