body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, field set, legend,
input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  -webkit-appearance: none; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code,
dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input:password {
  ime-mode: disabled; }

*:focus {
  outline: none; }

ul {
  margin: 0;
  list-style: none; }

a {
  color: #2982e5;
  text-decoration: none; }

a:active {
  color: #f60; }

.l {
  float: left; }

.r {
  float: right; }

.cl {
  clear: both; }

.mg0 {
  margin: 0; }

.tr {
  text-align: right; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

html {
  font-size: 20px;
  color: #999;
  height: 100%;
  width: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei"; }

.share {
  display: block;
  width: 5.15rem;
  height: 5.15rem;
  line-height: 5.15rem;
  border: 0.1rem solid #ccc;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  z-index: 9;
  left: 1.8rem;
  bottom: 4.2rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.5rem; }

.share:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1rem; }

.share span {
  display: inline-block;
  width: 4.45rem;
  height: 4.45rem;
  line-height: 4rem;
  background: #65beb8;
  border-radius: 50%;
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 0.25rem; }

.swiper-container {
  width: 100%;
  height: 100%;
  background: #fff; }

.swiper-slide {
  font-size: 0.9rem;
  color: #fff;
  box-sizing: border-box; }

.swiper-slide img {
  width: 100%; }

.swiper-slide .title-container {
  position: absolute;
  left: 1rem;
  top: 1rem; }

.swiper-slide .title {
  font-size: 2.05rem;
  font-weight: 300; }

.swiper-slide .text {
  font-size: 0.9rem;
  max-width: 20rem;
  line-height: 1.3; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0.75rem; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.25rem; }

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #64bdb7; }

/*header*/
.ljdy-header {
  width: 100%; }

.ljdy-header img {
  width: 100%; }

/*banner*/
#ljdy-banner1 {
  height: 19.25rem; }

#ljdy-banner2 {
  height: 15.65rem;
  margin: 0 auto;
  width: 34.6rem; }

#ljdy-banner3 {
  height: 14.4rem;
  margin: 0 auto;
  width: 34.6rem; }

#ljdy-banner4 {
  height: 11.65rem;
  margin: 0 auto;
  width: 34.6rem; }

.ljdy-tab {
  width: 34.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

.ljdy-tab li {
  padding: 1.4rem 3.1rem;
  background: url(../img/spiler_bg.jpg) no-repeat right center; }

.ljdy-tab li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #000;
  font-size: 0.95rem; }

.ljdy-tab li.tab {
  background: none; }

/*footer*/
.ljdy-footer {
  border-top: 0.05rem solid #b8b8b8;
  padding: 2.6rem 0;
  color: #aeaeae;
  font-size: 0.95rem;
  width: 34.6rem;
  margin: 3rem auto 0 auto; }

.ljdy-footer p.link {
  margin-bottom: 3.4rem; }

.ljdy-footer a {
  color: #aeaeae;
  display: inline-block;
  margin-right: 3.25rem; }

/*music*/
a.bgm-btn {
  display: block;
  position: fixed;
  right: 0.8rem;
  top: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 100%;
  background-image: url(../img/music_icon.png);
  z-index: 9; }

.rotate {
  -webkit-animation: myroote 5s linear 0s infinite normal;
          animation: myroote 5s linear 0s infinite normal; }

@-webkit-keyframes myroote {
  0% {
    -webkit-transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(-90deg); }
  50% {
    -webkit-transform: rotate(-180deg); }
  75% {
    -webkit-transform: rotate(-270deg); }
  100% {
    -webkit-transform: rotate(-360deg); } }

@keyframes myroote {
  0% {
    -webkit-transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(-90deg); }
  50% {
    -webkit-transform: rotate(-180deg); }
  75% {
    -webkit-transform: rotate(-270deg); }
  100% {
    -webkit-transform: rotate(-360deg); } }
.ljdy-code {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 5rem;
  display: block;
  z-index: 9; }

/*# sourceMappingURL=laijiadayuan.css.map */